
<div class="content-wrapper">
    <div class="container-fluid">
      
      <!-- Icon Cards-->
      <div class="row">
        <div class="col">
         <h3>User List Page</h3>
        </div> 
      </div>
      <div class="row">
          <table datatable [dtOptions]="dtOptions" class="table table-bordered">
            <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Email</th>
                  <th>Maritial Status</th>
                  <th>Mobile Number</th>
                  <th>Designation</th>
                  <th>City</th>
                  <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userData">
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.age}}</td>
                  <td class="grid-gender-icon">
                    <span *ngIf="user.sex === 'Male'" class="fa fa-male"></span>
                    <span *ngIf="user.sex === 'Female'" class="fa fa-female"></span>
                  </td>
                  <td>{{user.email}}</td>
                  <td>{{user.maritialstatus}}</td>
                  <td>{{user.mobile}}</td>
                  <td>{{user.designation}}</td>
                  <td>{{user.city}}</td>
                  <td>{{user.country}}</td>
                </tr>
            </tbody>
          </table>
      </div>

    </div>
  
    <app-footer></app-footer>
   
    
    
</div>