/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "./assets/css/sb-admin.css";
@import "./assets/css/dataTables.bootstrap4.css";

.user-icon {
	text-align: center;
    font-size: 100px;
}

.custom-card {
	border-radius: 5px;
	padding: 10px;
}

.custom-card .card-block {
	text-align: center;
}


.searchPart {
	margin: 10px 0px;
}

.createAction {
	margin:10px 0;
}

.createAction button {
	font-size: 18px;
}

.searchTitle {
	font-weight: bold;
	font-size:14px;
}

.modelTitle {
	font-weight: bold;
	font-size:20px;	
}

.m0 {
	margin: 0px !important;
}

.pd0 {
	padding: 0px !important;
}

.top-filter-section {
	margin: 10px 0px !important;
}

.filter-block {
	border: 1px dashed #0275d8;
    padding: 10px;
    float: right;
}

.custom-nav {

}

.custom-navbar .menu-title {
	position: relative;
	bottom: 3px;
}

.main-icon-size {
	font-size: 20vh;
}

.action-icon {
	font-size: 15px;
}

.filter-icon {
	font-size: 4vh;
}

.error-border {
	border: 1px solid red !important;
}

.pagination-block .pagination {
	justify-content: center;
	margin: 10px 0px;
}

.grid-gender-icon {
	text-align: center;
	font-size: 35px;
}